*{

    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    }
    body{
        background: #f2f2f2;
    }
    
    .cover{
        background-color: #1d1e16;
        width:1200px ;
        margin:0 auto;
        }
    
    .first{
    
        width: 1200px ;
        height: 100px;
    
    }
    
    /*
    nav{
    width: 1200px;
    margin: 50px;
        background: #1b1b1b;
    }*/
    
    nav{
    border-radius: 35px;
        height:50px;
        background-color:olive;
       }
       
    
 
    
    /*last*/
    /*logo*/
    nav .logo{
        float: right;
      
        font-size: 27px;
       
        font-weight: 60px;
        line-height: 50px;
        padding-right: 60px;
    }
    nav .logo li{
        float: left;
        display: inline-block;
        padding: 15px;
        padding-top: 0px;
    }
    nav .logo li a{
        color: bisque;
        
    }

    /*logo end*/
    nav ul{
        float: left;
        list-style: none;
        margin-right: 40px;
      
        position: relative;
    }
    nav ul li{
    
        float: left;
        display: inline-block;
        background: #1C5310;
        margin-top: 0 5px;
      height: 50px;
    
    }
    nav ul li a{
        font-family: 'Roboto Slab', serif;
    color: #D6B532;
    text-decoration: none;
    line-height: 50px;
    font-size: 20px;
    padding: 8px 15px;
    }
    nav ul li a:hover{
        background-color: #3C3D32;
    border-radius: 15px;
    margin: 5px;
        box-shadow: 0 0 10px #33ffff ,0 0 5px #66ffff
    
    
    }
    nav ul ul li a:hover{
    
    color: cyan;
    /*shadow none off sub menu*/
    box-shadow: none;
    }
    nav ul ul{
    
        position: absolute;
        top:90px;
        border-top: 3px solid orange;
        opacity: 0;
        visibility: hidden;
        transition: top .3s;
    }
    nav ul ul ul {
        border-top: none;
    }
    nav ul li:hover >ul{
    
    top:51px;
        opacity: 1;
        visibility: visible;
    
    }
    nav ul ul li{
    
        position: relative;
        margin: 0px;
        float: none;
        display: list-item;
        border-bottom: 1px solid olive ;
    }
    nav ul ul li a{
    
        line-height: 50px;
    }
    nav ul ul ul li{
        
        position: relative;
        top: -40px;
        left: 273px;
    
    }
    

    /*end  nav*/



    .div-clear{

        clear: both;
    }
    .common-hr{

        border: solid #263D08 1px;
        border-bottom: none;
        width: 80%;
        margin: 5px;
    }


           /*main   start*/
    .heading{
        margin: 5px;
        box-sizing: border-box;
        padding: 10px ;
        color: #9CA324;
        }
        .img-style2{

            padding: 50px 0px 0px 200px ;
        
        }
        
        .heading2{
            color: #9CA324;
            padding:30px 0px 0px 400px ;
            }
        .heading3{
                color: #9CA324;
                padding:1px 0px 0px 350px ;
                }
            
        
                .p2{
         
                    font-size: 18px;
                     margin: 100px;
                    width: 80%;
                    color: #959783;
                    padding-left: 18px;
                    text-align: justify;
                    font-style: italic;
                            }
                            .joy{
 
                                font-size: 18px;
                                 margin: 5px;
                                width: 80%;
                                color: #959783;
                                padding-left: 18px;
                                text-align: justify;
                                        }
                                
                               /*end main*/
                               
                               


                               /*footer*/
    
.final{
   
    background-color:#262913;
    width:1200px ;
    height: 40px;
    margin:0 auto;
    box-sizing: border-box;
    padding: 10px ;


}
        
        .left{
            
       color:#959783;
           float:left;
	padding-left: 20px;

        }
        .right{

          margin-top: 5px;  
            color:#959783;

            float:right;
	    padding-right: 30px;
        }
        


        
/*text*/




.heading{
    margin: 5px;
    box-sizing: border-box;
    padding: 10px ;
    color: #9CA324;
    }

    .heading1{
        margin: 5px;
        box-sizing: border-box;
        padding: 10px ;
        color: #B1BC67;
        }
    

    .p{
 
        font-size: 18px;
         margin: 5px;
        width: 80%;
        color: #959783;
        padding-left: 18px;
        text-align: justify;
        font-style: italic;
                }



       /*all chif*/

       
       h2{
        width: 50%;
       margin-top: 10px;
       padding-left: 20px;
        color:  #9CA324;
        letter-spacing: 2px;
        }


        
.full{


    box-sizing: border-box;
    
    
    
    }
    
    
    
      .card{
          
                 width: 300px;
                 box-sizing: border-box;
                border: 1px solid #3D3D3A;
                margin: 30px;
                        
         }
    
        
      .img-style{
    
        width: 90%;
        
        padding:15px;
                }
     .card:hover{
    
             box-shadow: 1px 1px 3px white;
                }
    
    
    
         .card-body {
    
          color:#828D80;
          text-align: center;
          margin: 0px; 
                }
                       
                
                .card-body h6{
    
                    letter-spacing: 2px;
    
    
                }  
                
                


                      /*Arms and Services*/



                      .common-hr2{

                        border: solid #263D08 1px;
                        border-bottom: none;
                        width: 80%;
                    } 


.arms li{
    display: flex;
    color: #959783;
    list-style:none;
    
  
}
.arms li:not(:last-child){
    padding-left: 40px ;
    margin-bottom:15px;
}
.arms li:before{
   
    content: "\12018";
    color:yellow;
    margin-right:20px;
}



/*peace*/

.left-div{
    width: 50%;
   margin-top: 10px;
   padding-left: 20px;
    color: #9CA324;
    letter-spacing: 1px;
    }

    .h5{
        width: 50%;
       margin-top: 10px;
       padding-left: 20px;
        color:#959783;
        letter-spacing: 1px;
        }


        /*table*/
        
        table{

            border: 2px solid black;
        border-collapse: collapse;
        width: 80%;
        margin: 4px;
        }
        
        th,td{
        
            border: 2px solid black;
        padding: 5px;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        
        }
        th{
        
            background-color: #9CA324;
            color:#FFFFFF;
            height: 40px;
        }
      
        tr:nth-child(even){

                background-color: #F7F7F7;


        }
        tr:nth-child(odd){

            background-color:#FFFFFF;
            
            
                    }
        tr:hover{
        
            background-color: cadetblue;
        
        }
        .video{
            width: 700px;
    margin-left: 150px;
  
        }



.heading4{
    margin-left: 170px;
}


.heading5{
    color: #979b4d;
    padding:1px 0px 0px 250px ;
    }